@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  margin: 0;
  padding: 0;
  background-color: #ecf0f3;
}

.card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card-sub-container {
  display: flex;
  flex-direction: row;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;

  p {
    font-family: 'Roboto';
  }
}

@media only screen and (max-width: 600px) {
  .card-sub-container {
    flex-direction: column;
  }
}